# Big Mac Activities
Let's take a look at a familiar data set (the cost of big macs around the world) and analyse it using Jupyter Notebook and Pandas. This skillset will **_directly_** link to your assessment task.

Complete each activity stipulated in the comments by looking at the *even-more-python-for-beginners* provided on GitHub.

## Series
Complete the following pandas Series following the instructions in the comments:

In [82]:
import pandas as pd

#Create a pandas Series which contains 'Australia', 'Britain', 'New Zealand' and 'United States' and store them on separate lines in a variable, 'countries'. 
countries = pd.Series([
    'Australia',
    'Britain',
    'Australia Jr',
    'United States'    
           ])


#Print the series
countries

0        Australia
1          Britain
2     Australia Jr
3    United States
dtype: object

In [83]:
#Output Britain from the list using its index
countries[1]

'Britain'

In [84]:
#Iterate through all values in countries series using a for loop
for values in countries:
    print(values)

Australia
Britain
Australia Jr
United States

## DataFrame
Usually we work with two-dimensional arrays. We store them using **DataFrame** in pandas. 

### Activity
Let's use a DataFrame to store more meaningful values than our countries series. Let's store the following values in a Data Frame called 'big_mac':

**Headings:** Country, Local Price, AUD Price
- `'Australia', 7.45, 7.45`
- `'Britain', 4.19, 0.0`
- `'Japan', 450, 0.0`
- `'New Zealand', 7.1, 0.0`
- `'United States', 5.58, 0.0`

**NOTE:** You'll need to look online at current rates to convert Britain, New Zealand, Japan and United States' local prices to AUD.

In [85]:
#Add a pandas DataFrame called 'big_mac' with the above values
big_mac = pd.DataFrame([  
['Australia', '7.45', '7.45'],
['Britain', '4.19', '8.75'],
['Japan', '450', '4.76'],
['New Zealand', '7.1', '6.58'],
['United States', '5.58', '8.48']
],
columns = ['Country', 'Local Price', 'AUD Price']
)
#Print the DataFrame
big_mac

         Country Local Price AUD Price
0      Australia        7.45      7.45
1        Britain        4.19      8.75
2          Japan         450      4.76
3    New Zealand         7.1      6.58
4  United States        5.58      8.48

## Examining pandas DataFrames

In [86]:
#Print only the first two rows of the big_mac dataframe
big_mac.head(2)

     Country Local Price AUD Price
0  Australia        7.45      7.45
1    Britain        4.19      8.75

In [87]:
#Print only the last four rows of the big_mac dataframe
big_mac.tail(4)

         Country Local Price AUD Price
1        Britain        4.19      8.75
2          Japan         450      4.76
3    New Zealand         7.1      6.58
4  United States        5.58      8.48

In [88]:
#Print the number of rows and columns in the big_mac dataframe
big_mac.shape

(5, 3)

In [89]:
#Print some detailed information about the big_mac dataframe
big_mac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      5 non-null      object
 1   Local Price  5 non-null      object
 2   AUD Price    5 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes

## Querying DataFrames
Let's explore how we request data from a pandas DataFrame.

In [90]:
#Request and output the 'Country' and 'AUD Price' columns from the big_mac DataFrame.
big_mac[['Country', 'AUD Price']]

         Country AUD Price
0      Australia      7.45
1        Britain      8.75
2          Japan      4.76
3    New Zealand      6.58
4  United States      8.48

In [91]:
#Use iloc to request the third row, all columns
big_mac.iloc[3,:]

Country        New Zealand
Local Price            7.1
AUD Price             6.58
Name: 3, dtype: object

In [92]:
#Use iloc to request all rows, but just the 'Country' and 'AUD Price' columns
big_mac.iloc[:,[0,2]]

         Country AUD Price
0      Australia      7.45
1        Britain      8.75
2          Japan      4.76
3    New Zealand      6.58
4  United States      8.48

In [93]:
#Use loc to do the same thing as the previous (Country and AUD Price all rows)
big_mac.loc[:,['Country','AUD Price']]

         Country AUD Price
0      Australia      7.45
1        Britain      8.75
2          Japan      4.76
3    New Zealand      6.58
4  United States      8.48